* {
  box-sizing: border-box;
}
/* Reusables */

.w-60 {
  width: 60%;
}

.d_grid {
  display: grid;
}

.main_logo {
  max-width: 150px;
  max-height: 100px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.active-pink {
  background-color: #841f29;
  color: #f8d7d9;
}

.active-blue {
  background-color: #d0e2fe;
  color: #084298;
}

.bg-darkblue {
  background-color: darkblue;
}

.bg-orange {
  background-color: orange;
}

.bg-greenyellow {
  background-color: greenyellow;
}

.text-beginner {
  background-color: rgb(101, 111, 252);
}

.text-intermediate {
  background-color: deepskyblue;
}

.text-advanced {
  background-color: yellow;
}

.bg-lightGray {
  background-color: gainsboro;
}

.ms-100 {
  margin-left: 100px;
}

/* Dropdown Menu*/
.menu-container {
  position: relative;
}
.menu {
  background: #ffffff;
  border-radius: 8px;
  position: absolute;
  top: 60px;
  right: 0;
  width: 300px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
}

.menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  border-bottom: 1px solid #dddddd;
}

.menu li a {
  text-decoration: none;
  color: #333333;
  padding: 15px 20px;
  display: block;
}

.menu-trigger {
  background: #ffffff;
  border-radius: 90px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  border: none;
  vertical-align: middle;
  transition: box-shadow 0.4s ease;
}

.menu-trigger:hover {
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}

.menu-trigger span {
  font-weight: 700;
  vertical-align: middle;
  font-size: 14px;
  margin: 0 10px;
}

.menu-trigger img {
  border-radius: 90px;
}

/* Teacher Home Page */
/* Lesson Name Input */

.lesson-name-input-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.lesson-name-input-label {
  grid-column: 2/4;
  grid-row: 1/2;
  justify-self: flex-start;
}
.lesson-name-input {
  grid-column: 4/10;
  grid-row: 1/2;
}
/* Lesson Descripton input */
.lesson-description-input-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.lesson-description-input-label {
  grid-column: 2/4;
  grid-row: 1/2;
  justify-self: flex-start;
}
.lesson-description-input {
  grid-column: 4/10;
  grid-row: 1/2;
  overflow: scroll;
}

/*Lesson Type Input*/
.lesson-type-input-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.lesson-type-input-label {
  grid-column: 2/3;
  justify-self: flex-start;
}
.lesson-type-input {
  grid-column: 4/5;
}

.lesson-type-input-text {
  grid-column: 5/7;
  justify-self: center;
  align-self: center;
}

/* Video Input */
.dragAndDropContainer {
  position: relative;
  height: 350px;
}
.dragAndDropContent {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.vid-input-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 100px);
}

.vid-input-label {
  grid-area: 1/2/2/4;
  justify-self: flex-start;
}

.file-name-label {
  grid-row: 1/2;
  grid-column: 5/9;
  align-self: flex-end;
  justify-self: center;
}

.dragAndDropContainer {
  grid-row: 2/7;
  grid-column: 4/10;
}

.file-size-label {
  grid-row: 1/2;
  grid-column: 10/12;
  align-self: flex-end;
  justify-self: center;
}

/* extra chapter accordion styles */
.chapter-acc-description {
  max-height: 150px;
  overflow: auto;
}

/* ================== Dialog With Arrow =================== */

.progress-box {
  position: absolute;
  width: 50px;
  height: 30px;
  top: -35px;
}

.progress-box:after {
  content: " ";
  position: absolute;
  right: 14px;
  bottom: -15px;
  border-top: 15px solid #198754;
  border-right: 11px solid transparent;
  border-left: 11px solid transparent;
}

.progress-label {
  position: relative;
  top: 20px;
}

.view-container {
  width: 70vw;
  border: 1px solid black;
  margin-left: 12vw;
}

.view-video {
  max-width: 700px;
}

/* ===search sidebar=== */
.search-side {
  width: 15vw;
  border: 2px solid black;
  margin-left: 1rem;
  position: absolute;
  margin-right: 1rem;
  border-radius: 10px;
}
